  :root{
    --icon-back-color: #f4f4fd;
    --color-btn: #4D5AE5;
    --color-hover-focus: #404bbf;
    --color-white: #ffffff;
  }
  
  
  
  body {
   font-family: "Roboto", sans-serif;
   color: #434455;
   background-color: var(--color-white);
   }

   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p {
     margin: 0;
   }



   a {
    text-decoration: none;
   }

   ul, ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
   }

   img {
    display: block;
    max-width: 100%;
    height: auto;
   }

   address{
    font-style: normal;
   }

    .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
   }


   .container{
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
   }

   /* ---header---*/
   .header-container{
    display: flex;
    align-items: center;
    }

    .navigation{
      display: flex;
      align-items: center;
    }
  
    .header{
      border-bottom: 1px solid #e7e9fc;
      box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    }
  
    .logo{
    color: var(--color-btn) ;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    }

   .nav-list{
    display: flex;
    gap: 40px;
    }

    .logo-part {
    color: #2E2F42;
    }

   .nav-link {
   color:  #2E2F42;;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.02em;
   padding: 24px 0;
   display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
  
   .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: var(--color-hover-focus);
    border-radius: 2px;
    height: 4px;
    width: 100%;;
    }

   .current{
   position: relative;
   color: var(--color-hover-focus);
    }

   .nav-link:hover,
   .nav-link:focus {
   color: var(--color-hover-focus);
   }
  
  


    .address {
    font-style: normal;
    margin-left: auto;
    }

    .address-list{
    display: flex;
    gap: 40px;
    }

    .contact-link {
    color:  #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contact-link:hover,
    .contact-link:focus{
    color:  var(--color-hover-focus);
    }

   /* section-hero*/
    .hero {
      max-width: 1440px;
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    margin: auto;
    }
       
    .hero-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;

    }

    .title-hero {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-white);
    margin-bottom: 48px;
    max-width: 496px;
    }

    .button-hero {
    font-weight: 500; 
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-white);
    background: var(--color-btn); 
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 16px 32px; 
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .button-hero:hover,
    .button-hero:focus{
    background-color: var(--color-hover-focus);
   }

    /* section-adventages */
    
    .our-adventages{
    padding-top: 120px;
    padding-bottom: 120px;
    }


    .adventages-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
   }
    
   .icon-block{
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: var(--icon-back-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
   }

    .adventages-item{
    max-width: 264px;
    width: calc((100% - 24 * 3) / 4);
    }

    .subtitle-adventages {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    
    }

    .text-adventages {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
   }

   /* section-team*/
   .section-team{
    text-align: center;
    background-color: var(--icon-back-color);
    padding-top: 120px;
    padding-bottom: 120px;
   }

   .list-team{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
   }

   .item-team {
    width: 264px;
    width: calc((100% - 24 * 3) / 4);
    background-color: var(--color-white);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
   }

   .team-photo{
    object-fit: cover;
   }

   .text-team{
   padding-top: 32px;
   padding-bottom: 32px;
   align-items: center;
   }

   .title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
   }

   .subtitle-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
   }

   .text-discription {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
   }
   
   
   .icon-social-team{
    display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      gap: 24px;
   }

   .social-list{
    fill: var(--icon-back-color);
   }

   .icon-link-team{
    width: 40px;
    height: 40px;
    background-color: var(--color-btn);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .icon-link-team:hover,
   .icon-link-team:focus{
    background-color: var(--color-hover-focus);
    }

   /* section-portfolio */

   .section-portfolio{
   padding-top: 120px;
   padding-bottom: 120px;
   }

   .title-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
   }

   .card-portfolio{
   display: flex;
   flex-wrap: wrap;
   column-gap: 24px;
   row-gap: 48px;
   border-bottom: 0;
    box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }


    .portfolio-item {
    width: 360px;
    width: calc((100% - 24px * 2) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
   
   .portfolio-sguare{
    position: relative;
    overflow: hidden;
    transform: translateY(0%);
   }

   .portfolio-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
   }

   .portfolio-item:hover .text-desc-portfilio{
    transform: translateY(0%);
   }

    .text-desc-portfilio{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--icon-back-color);
    padding: 40px 32px;
    background-color: var(--color-btn);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
    
   .text-portfolio{
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
   }

   .subtitle-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
   }

   .desc-portfolio {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
   }

  
   /* footer */

    .footer-wrap{
     display: flex;
    align-items: baseline;
    }

   .footer {
   padding-top: 100px;
   padding-bottom: 100px;
   background-color: #2e2f42;
   }


   .logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-btn);
    display: inline-block;
      margin-bottom: 16px;
   }

   .logo-second{
   color: var(--icon-back-color);
   }

    .text-footer{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--icon-back-color);
    width: 264px;
   }
  
   .logo-box{
   margin-right: 120px;
   }

   .social-link-media {
   width: 208px;
   height: 80px;
   margin-right: 80px;
   }

   .title-footer{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-white);
    margin-bottom: 16px;
   }
  
   .item-footer {
    width: 208px;
    height: 40px;
    gap: 16px;
    display: flex;
   }
  
   .footer-list {
    width: 40px;
    height: 40px;
   }

  
   .icon-link-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-btn);
    border-radius: 50%;
    fill: white;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
  
   .social-list-footer{
    fill:var(--icon-back-color);
   }

    .icon-link-footer:hover,
    .icon-link-footer:focus
    {
    background-color: #31D0AA;
   }
  
   .box-subscribe{
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: column;
    margin-right: auto;
   }

   .footer-form{
    display: flex;
    gap: 24px;
   }


   .footer-subscribe {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-white);
    margin-bottom: 16px;
   }

   

   .footer-inpyt {
    border: 1px solid var(--color-white);
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    color: var(--color-white);
    letter-spacing: 0.04em;
    padding: 8px 0px 8px 16px;
   }

   .footer-inpyt::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--color-white);
   }

   .btn-footer {
    border-radius: 4px;
    padding: 8px 24px 8px 24px;
    min-width: 165px;
    height: 40px;
    background: var(--color-btn);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--color-white);
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .btn-footer:hover{
     background-color: var(--color-hover-focus);
   }

   .footer-icon {
    fill: var(--color-white);
    margin-left: 16px;
   }

   /* modal */

   .backdrop{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background: rgba(46, 47, 66, 0.4);
     transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
   }

   .modal{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    padding: 24px;
    background-color: #fcfcfc;
    transform: translate(-50%, -50%);
    padding-top: 72px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
 
   .modal-close{
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    fill: #2e2e2e;
    stroke-width: 1px;
    border: none;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

   .modal-close:hover{
    border-radius: 100%;
    border: none;
    background-color: var(--color-hover-focus);
    fill: var(--color-white);
   }

   .modal-close:focus{
    background-color: var(--color-hover-focus);
    border: none;
    fill: var(--color-white);
   }

   .modal-close-svg{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .modal-close-svg:hover,
   .modal-close-svg:focus{
   fill: var(--color-white);
   }

   .title-modal{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    max-width: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    text-align: center;
    margin-bottom: 16px;
   }

   .modal-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .modal-input:focus{
   border-color: var(--color-btn);
   }

   .modal-input:focus + .icon-modal {
    fill: var(--color-btn);
   }

   .modal-field{
   margin-bottom: 8px;
   }

   .text-label{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
   }

   .icon-modal{
    position: absolute;
    fill: #2e2f42;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .modal-input-wrap{
    position: relative;
    margin-bottom: 8px;
   }


   .modal-input-text{
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    padding: 8px 16px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .modal-input-text:focus{
   border-color: var(--color-btn);
   }


   .box-textarea{
   margin-bottom: 16px;
   }

   .check-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    min-width: 388px;
    display: flex;
    align-items: center;
   }

    .modal-checkbox {
     margin-bottom: 24px;
    }


    .check-box-span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    fill: transparent;
    position: relative;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   } 

    .check-link {
    font-weight: 400;
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--color-btn);
    margin: 2px;
   }


    .modal-check:checked + .check-text span {
    background-color: var(--color-hover-focus);
    border: none;
    fill: var(--icon-back-color);
    }

    .modal-check-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    } 

   .modal-send-btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-white);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--color-btn);
    border-radius: 4px;
    border: none;
    text-align: center;
    cursor: pointer;
    padding: 16px 32px;
    min-width: 169px;
    display: block;
    align-items: end;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

   .modal-send-btn:hover,
   .modal-send-btn:focus{
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
   background-color: var(--color-hover-focus);
   }
  